networks:
  data_net:
    external: true

x-astro-common: &astro-common
  networks:
    - data_net
  env_file:
    - .env
  volumes:
    - ./dags:/usr/local/airflow/dags
    - ./dbt:/usr/local/airflow/dbt
    - ./include:/usr/local/airflow/include

services:
  webserver:
    <<: *astro-common
  scheduler:
    <<: *astro-common
  triggerer:
    <<: *astro-common
  worker:
    <<: *astro-common